@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');

html{
  font-size: 20px;
}

body{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdfffc;
  color: #000;
}

header{
  background: rgb(187,84,214);
  background: linear-gradient(267deg, rgba(187,84,214,1) 0%, rgba(94,132,208,1) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
  text-align: center;
}

ul{
  list-style: none;
   position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li{
  display: inline;
  padding: 1rem;
  margin: 0rem;
}
nav{
  font-size: 2rem;
  margin: 1rem;
}

button {
  background: rgb(214,121,84);
background: linear-gradient(90deg, rgba(214,121,84,1) 0%, rgba(208,94,192,1) 100%);
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}


hr{
  margin: 2rem 0;
}

img{
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  border-color: blue;
}
.container1{
  margin: auto;
  padding-left: 1rem;
  max-width: 85%;
  padding-right: 1rem;
  text-align: center;
  color: gray;
}
p{
  text-align: center;
}
.container3 {
  height: 2rem;
  position: relative;
  border: 3px solid pink;
}
.button2 {
  margin: 0rem;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
section{
  background-color: #F5E2C8;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
section h2{
  text-align: center;
  color: #D1495B;
}

.button3 {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button4{
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.skills i{
  padding: 2rem;
  background-color: #4ECDC4;
  border-radius: 50%;
  margin-left: 1px;
  margin-bottom: 10px;
  border-color: #4ECDC4;
  border-style: solid;
  text-align: center;
  margin-left: 7rem;
}

footer{
  text-align: center;
  background-color: #EB8A90;
  padding: 2rem;
  color: white;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

}

a{
  text-align: center;
  color: beige;
  padding: 1rem;
  margin: 1rem;
}